body {
    background-image: url('coffee-beans-1291656.jpg');
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    color: white;
    font-family: roboto;
    font-weight: 2;
    list-style-type: none;
    display: flex;
}

.shop {
    margin-left: 20px;
}
.loc {
    margin-left: 25px;
}

.home {
    margin-right: 20px;
}


.about {
    margin-right: 20px;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.under {
    margin-right: 55px;
}

.statement {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: white;
    font-family: roboto;
    font-weight: 2;
    font-size: 55px;
}

a {
    color: white;
    text-decoration: none;
}

.santuary {
    margin-left: 609px;
    margin-top: 39px;
    font-family: roboto;
    font-weight: 2;
    color: white;
    font-size: 25px;
}